<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!isLogin" >Register</ion-title>
      <ion-title *ngIf="isLogin">Login</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <form *ngIf="!isLogin" [formGroup]="userForm" (ngSubmit)="registerAndGo();">
    <ion-item>
      <ion-label position="fixed">Name</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Enter Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Pin</ion-label>
      <ion-input type="password" formControlName="pin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Confirm Pin</ion-label>
      <ion-input type="password" formControlName="confirmPin"></ion-input>
    </ion-item>
    <p *ngIf="userForm.errors?.pinNotMatch">Password does not match</p>

    <ion-button color="secondary" type="submit" [disabled]="!userForm.valid" expand="block">Register</ion-button>
</form>

    <ion-button *ngIf="isLogin" color="secondary" (click)="loginAndGo();">Login</ion-button>

</ion-content>
