<ion-header>
    <ion-toolbar>
      <ion-title *ngIf="!isLogin" >Register</ion-title>
      <ion-title *ngIf="isLogin">Login</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <form *ngIf="!isLogin" [formGroup]="userForm">
    <ion-item>
      <ion-label position="fixed">Name</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Enter Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Pin</ion-label>
      <ion-input type="password" formControlName="pin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Confirm Pin</ion-label>
      <ion-input type="password" formControlName="confirmPin"></ion-input>
    </ion-item>
    <p *ngIf="userForm.errors['pinNotMatch']">Pin does not match.</p>

    <ion-button color="secondary" type="button" [disabled]="!userForm.valid" (click)="registerAndGo();" expand="block">Register</ion-button>
</form>

<form *ngIf="isLogin" [formGroup]="loginForm">
    <p *ngIf="loginError">Incorrect pin.</p>
    <ion-item>
        <ion-label position="fixed">Pin</ion-label>
        <ion-input type="password" formControlName="loginPin"></ion-input>
      </ion-item>

    <ion-button color="secondary" type="button" [disabled]="!loginForm.valid" (click)="loginAndGo();" expand="block">Login</ion-button>
</form>


</ion-content>
