<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <form [formGroup]="form">
        <ion-item *ngFor="let field of config">
            <ion-label position="fixed">{{field.name}}</ion-label>
            <ion-input type="text" formControlName="{{field.name}}"></ion-input>
        </ion-item>

        <ion-button color="secondary" (click)="saveAndClose();">Save</ion-button>
    </form>
    
</ion-content>
