<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button color="secondary" (click)="openUpdateName();" >Update Name</ion-button>
    <br />
    <br />
    <ion-button color="secondary" (click)="openUpdatePin();">Update Pin</ion-button>
</ion-content>

<ion-footer>
      <div padding>
          <h5>Version - 1.0</h5>
          <h2>App by Mo</h2>
        </div>
</ion-footer>
